{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <link href="https://fonts.googleapis.com/css?family=Bellota|Indie+Flower|Liu+Jian+Mao+Cao|Rubik&display=swap" rel="stylesheet"> 
     <link rel="stylesheet" href="{% static "upload.css" %}">
    <title>Video-Analysis</title>
</head>
<body>
    <div id="app"></div>
    <script src="{% static "frontend/main.js" %}"></script>
</body>
</html>